# Archivos generados por entornos virtuales y herramientas de construcción
__pycache__/
venv/
.env

# Archivos de registro y salidas de errores
*.log

# Archivos de caché de Python
*.pyc

# Archivos de caché de editor
.vscode/
.idea/

# Archivos de configuración de sistema
.DS_Store

# Archivos de configuración de IDE específicos
*.iml

# Dependencias y directorios generados por npm
node_modules/
